p{margin-top: 0}
body{margin: 0;}
ul{padding: 0;
    margin: 0;}
.conteiner{
    width: 775px;
    margin: 0 auto;

}
.inline{float: left;}
.head{
    width: 767px;
    height: 76px;
    background-color: #F24141;
}
.head2{
    width: 767px;
    height: 159px;
    background-color: grey;
}
.head-bott{
    width: 523px;
    height: 159px;
    background-color: orange;
}
.navig1{
    width: 244px;
    height: 159px;
    background-color: #73E4AD;
}





/*navig2*/
.navig2{
    width: 244px;
    height: 481px;
    /*background-color: #6BD714;*/
}

.navig2 li{
    list-style-type: none;
    width: 244px;
    border-bottom: 1px dotted #f3f3f3;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: Tahoma sans-serif;

}
.navig2 ul {
    margin-left: 47px;


}

.navig2 li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 100;
    margin-left:2px;
}
.navig2 li {
    padding-top: 2px;
}

.browse-category {
    background: #cbcbcb;
    margin-left: 32px;
    font-family: 'OfficinaSansStd-Book';
    font-size: 14px;
    letter-spacing: 0px;
    padding: 5px 12px;
    margin-bottom: 10px;

}

.list-link:hover {

}

.navig2 li a:before {
    content: url("img/menu_2_icon.png");
    padding-right: 10px;

}

.navig2 li a:hover {
    color: red;
}

.list-link {

}

aside {
    padding: 0;
    margin: 0;
    height: 47px;
}
.moneyback-sale{

    padding-left: 33px;
    padding-top: 3px;
    padding-bottom: 0;

}


/*end navig2*/






.wraper{
    float: left;
}
main{
    height: 530px;
    width: 523px;
    background-color: #56D8B8;
    float: left;
}

/*footer*/
footer{

    height: 65px;
    width: 767px;
    background-color: #D76DE1;
    background-image: url('img/b_links.jpg');
}
.pay {
    width: 244px;
    margin-left: 20px;
    padding-left: 30px;
}
.paypal {
    width: 78px;
    height: 24px;
    /*position: absolute;*/
    /*left: 51px;*/
    /*top: 786px;*/
    margin-top: 20px;
    float: left;
    background:url('img/payment-system.jpg') -1px 0 no-repeat;
}
.visa {
    /*position: relative;*/
    width: 37px;
    height: 24px;
    margin-left: 8px;
    margin-top: 20px;
    /*top: 21px;*/
    /*left: 137px;*/
    float: left;
    background: url('img/payment-system.jpg') -87px 0 no-repeat;
}
.mastercard {
    /*position: relative;*/
    width: 39px;
    height: 25px;
    float: left;
    margin-left: 8px;
    margin-top: 20px;
    /*top: -3px;*/
    /*left: 181px;*/
    background: url('img/payment-system.jpg') -132px 0 no-repeat;
}

.footer-text {
    width: 523px;
    font-family: Tahoma sans-serif;
    float: right;
    font-size: 11px;
    margin-top: 19px;
    box-sizing: border-box;
    letter-spacing: 0;
    padding-left: 53px
}

/* end footer*/