p{margin-top: 0}
body{margin: 0;}
ul{padding: 0;
	margin: 0;}
.conteiner{
	width: 775px;
	margin: 0 auto;
	
}
.inline{float: left;}
.head{
	width: 767px;
	height: 76px;
	background-color: #F24141;
}
.head2{
	width: 767px;
	height: 159px;
	background-color: grey;
}
.head-bott{
	width: 523px;
	height: 159px;
	background-color: orange;
}
.navig1{
	width: 244px;
	height: 159px;
	background-color: #73E4AD;
}
.navig2{
	width: 244px;
	height: 481px;
	background-color: #6BD714;
	
}
aside{
	background-color: #055815;
	width: 244px;
	height: 49px;

}

.wraper{
	float: left;
}
main{
	height: 530px;
	width: 523px;
	background-color: #56D8B8;
	float: left;
}
footer{
	height: 65px;
	width: 767px;
	background-color: #D76DE1;
}